# Instalation
INSTALATION_PATH=$HOME/.eztarget

# Config files
CONFIG_FOLDER=$INSTALATION_PATH/config
CONFIG_INTERFACE=$CONFIG_FOLDER/interface.config
CONFIG_HOST=$CONFIG_FOLDER/host.config
CONFIG_TARGET=$CONFIG_FOLDER/target.config

# COLORS
HOST_COLOR="blue"
SUCCESS_COLOR="green"
FAIL_COLOR="red"

# OUTPUT FOLDER
SCANS_FOLDER=$INSTALATION_PATH/scans

# IMPORTED BINARIES FOLDER
LIB_FOLDER=$INSTALATION_PATH/lib

